{% extends 'comp/base.html' %}
{% block content %}
    <link href="../../static/dbstyle.css" rel="stylesheet">
    <p id="title" style="padding: 10px; font-size: 30px;"></p>
    <div style="display: flex">
        <div class="content-container homediv" style="width: 20%; height: 250px;padding: 0px !important;">
            <div class="whitebox" style="width: 100%;height: 240px;">
                <p align="center" style="font-size: 20px; font-weight: bold; margin-bottom: 2px"> Seleccione período</p>
                <hr class="solid" style="margin-bottom: 2px">
                {% for m in all_months %}
                    <form action="" method="post">
                        {% csrf_token %}
                        <button class="btn" name="month" value="{{ m.month }}_{{ m.year }}" align="center"
                                style="font-size: 15px; margin: 2px !important; background-color: lightgray">
                            {{ m.month }}-{{ m.year }}</button>
                    </form>
                {% endfor %}
            </div>
        </div>
        <div class="content-container homediv align-items-stretch"
             style="width: 80%; height: 250px; flex-direction: column !important;">
            <div id="gc" class="gcontainer" style="flex-direction: row;">
                <div class="whitebox" style="height: 240px; width:100%; margin-left: 0px;padding-left: 0px">
                    <canvas id="myChart"></canvas>
                </div>
                <div class="whitebox" style="height: 240px;width:100%; margin-right: 0px; padding-right: 0px">
                    <canvas id="myChart2"></canvas>
                </div>
                <script language="JavaScript">
                    const queryString = window.location.search;
                    const urlParams = new URLSearchParams(queryString);
                    const graph = urlParams.get('graph');
                    const ctx = document.getElementById('myChart');
                    const ctx2 = document.getElementById('myChart2');
                    const title = document.getElementById('title');

                    function generate_rgb(len) {
                        var rgb = [];
                        for (var i = 0; i < len; i++) {
                            let str = 'rgb(' + Math.floor(Math.random() * 256).toString() + ', ' + Math.floor(Math.random() * 256).toString() + ', ' + Math.floor(Math.random() * 256).toString() + ')'
                            rgb.push(str);
                        }
                        return rgb;
                    }

                    function set_chart(data, title, chart) {
                        const config = {
                            type: 'bar',
                            data: data,
                            options: {
                                responsive: false,
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                },
                                plugins: {
                                    title: {
                                        display: true,
                                        text: title,
                                        font: {
                                            size: 16
                                        },
                                        padding: 15,
                                    },
                                    legend: {
                                        display: false,
                                    },
                                },
                            }
                        };
                        if (chart == 1) {
                            const myChart = new Chart(ctx, config);
                        } else {
                            const myChart2 = new Chart(ctx2, config);
                        }


                    }

                    if (graph.toString() == "product") {
                        title.innerHTML = 'Productos'

                        var rgb = generate_rgb({{ len1 }})
                        const data = {
                            labels: [{% for p in product_name %}'{{ p.name }}',{% endfor %}],
                            datasets: [{
                                data: [{% for p in product_qtt %}'{{ p.qtt }}',{% endfor %}],
                                backgroundColor: rgb,
                                hoverOffset: 4
                            }]
                        };
                        set_chart(data, 'Frecuencia de producto histórica', 1)

                        const data2 = {
                            labels: [{% for p in product_income %}'{{ p.name }}',{% endfor %}],
                            datasets: [{
                                data: [{% for p in product_income %}'{{ p.qtt }}',{% endfor %}],
                                backgroundColor: rgb,
                                hoverOffset: 4
                            }]
                        };
                        set_chart(data2, 'Ingresos por producto histórico', 2)

                    } else if (graph.toString() == "income") {
                        title.innerHTML = 'Ingresos';
                        var rgb = generate_rgb({{ len2 }});
                        const data = {
                            labels: [{% for p in income_month %} '{{ p.month}} - {{ p.year }}',{% endfor %}],
                            datasets: [{
                                data: [{% for p in income %} {{ p.income }}, {% endfor %}],
                                backgroundColor: rgb,
                                hoverOffset: 4
                            }]
                        };
                        set_chart(data, 'Ingresos mensuales', 1)
                        //
                        var rgb2 = generate_rgb({{ len3 }})
                        const data2 = {
                            labels: [{% for p in avg_income_ppm %} '{{ p.type}}',{% endfor %}],
                            datasets: [{
                                data: [{% for p in avg_income_ppm %} {{ p.income }}, {% endfor %}],
                                backgroundColor: rgb2,
                                hoverOffset: 4
                            }]
                        };
                        set_chart(data2, 'Frecuencia histórica por medio de pago', 2)
                    } else if (graph.toString() == "client") {
                        title.innerHTML = 'Clientes'
                        var rgb = generate_rgb({{ len3 }});
                        const data = {
                            labels: [{% for p in clientsph %} '{{ p.hour}} horas',{% endfor %}],
                            datasets: [{
                                data: [{% for p in clientsph %} {{ p.diners__sum }}, {% endfor %}],
                                backgroundColor: rgb,
                                hoverOffset: 4
                            }]
                        };
                        set_chart(data, 'Frecuencia de clientes promedio', 1);

                        var rgb2 = generate_rgb({{ len3 }});
                        hours = Array.from({length: {{max_stay_time.stay_hour__max}} +1}, (x, i) => i.toString() + ' horas');
                        const data2 = {
                            labels: hours,
                            datasets: [{
                                data: [{% for p in stay_time %} {{ p.diners__sum }} , {% endfor %}],
                                backgroundColor: rgb2,
                                hoverOffset: 4
                            }]
                        };
                        set_chart(data2, 'Frecuencia de clientes por hora histórica', 2);
                    }

                </script>
            </div>
        </div>
    </div>
    <div class="whitebox" align="center" style="font-weight: bold;font-size: 25px"> Detalle</div>
    <div class="whitebox" style="height:500px; margin: 10px 0px 10px">
        <table class="table">
            <thead>
            <tr>
                <th style="width:48%">Id de venta</th>
                <th style="width:25%">Ingreso</th>
                <th style="width:25%">Medio de pago</th>
            </tr>
            </thead>
        </table>
        <div style="width:100%;overflow:auto; max-height:400px;">
            <table class="table">
                <tbody >
                {% for i in total_income %}
                    <tr>
                        <td style="width:50%">{{ i.sale_id }}</td>
                        <td style="width:25%">{{ i.amount }}</td>
                        <td style="width:25%">{{ i.type }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}