.content-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    position: center;
}
.gcontainer{
    display: flex;
    flex-direction: row;
    padding:10px;
    border-radius: 5px;
    align-content: center;
    justify-content: space-around;
}
.gcontainer canvas{
    background: ghostwhite;
    border-radius: 10px;
    height: 100%;
}

.whitebox{
    background-color: ghostwhite;
    padding: 10px;
    border-radius: 5px;
    margin: 3px;
}

.boldfont{
    margin: 0px;
    font-weight: bold;
    font-size: 15px;
}

.solid{
    border-top: 3px solid #bbb;
    margin: 1px;
}

.homediv{
    flex-direction:row;
    flex-wrap:wrap;
    margin: 20px;
    background-color: #c9c8e4;
    border-radius: 5px
}